.signup{
  background-color:#00A7f8;
  display: flex;
  justify-content: center;
  height: 100vh;
  align-items: center;
  font-family: "Roboto";
  color: #3b4856;
  }
  .signup-card{
      background-color: #FFFFFF;
      width: 400px;
      padding: 30px;
      border-radius: 15px;
  }
  .btn-1{
      background-color: #39837B;
      border-radius: 30px;
      border-width:0px ;
      padding: 10px;
      color: #FFFFFF;
  }
  .login{
      background-color:#00A7f8;
      display: flex;
      justify-content: center;
      height: 100vh;
      align-items: center;
      font-family: "Roboto";
      color: #3b4856;
      }
      .login-card{
          background-color: #FFFFFF;
          width: 400px;
          padding: 30px;
          border-radius: 15px;
      }
      .btn-1{
          background-color: #39837B;
          border-radius: 30px;
          border-width:0px ;
          padding: 10px;
          color: #FFFFFF;
      }